* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rubik-distressed-regular {
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
}


body{
  max-width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* ----------------------------App------------------------ */
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  font-family: "Rubik Distressed", system-ui;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: #1a1a1a;
  position: sticky;
  top: 0;
}

#links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  color: white;
}

.link{
  color: white;
  text-decoration: none;
}

#postSearch{
  width: 400px;
  border-radius: 8px;
  height: 20px;
}

.content-display{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10px;
  background-color: #242424;
  color: rgb(223, 214, 214);
  background-size: 200px;
  background-image: url('https://clipart-library.com/images/gceEezKoi.png');



}

.createPostImg{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: rgba(244, 230, 230, 0.781);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: background-color 0.5s;
}

.createPostImg:hover{
  background-color: rgba(194, 176, 176, 0.781);
}

.createPostImg > img{
  width: 40px;
  height: 40px;
}
/* ------------------------------------------------------ */

/* ----------------------------Feed---------------------- */
.feedPosts{
  height: 43vh;
  overflow-y: auto;
  background-color: #242424;
  padding: 6px;
  width: 90%;
}

.feedPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  
}

.feedPage > h1{
  color: white;
  background-color: #242424;
  padding: 6px;
  width: 10%;
  margin-bottom: 30px;
}

/* ------------------------------------------------------ */

/* ----------------------------CreatePost---------------------- */

.createPostPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
}

.createPostPage > div{
  width: 45%;
  background-color: #96868649;
  background-image: url('https://img.freepik.com/premium-vector/blank-comic-book-pop-art-with-speech-bubble_35029-1723.jpg?w=996');
  background-position: center;
  background-size: 90px;
  color: black;
  padding: 20px;
  height: 50%;
  border-radius: 8px;
  box-shadow: 0px 3px 8px 3px black;
}

.createPostPage > h1{
  color: burlywood;
  background-color: rgba(0, 0, 0, 0.608);
  padding: 4px;
}

.createForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
  border-radius: 8px;
  border: #141212 groove;
}

.createPostPage > div > form > div{
 width: 80%;
 margin-bottom: 10px;
}
.createPostPage > div > form > div > input{
  width: 80%;
  height: 30px;
  border-radius: 8px;
  margin: 10px;
}
.createPostPage > div > form > div > textarea{
  width: 80%;
  height: 60%;
  border-radius: 8px;
  margin: 10px;
}
/* ------------------------------------------------------ */

/* --------------------------Post------------------------- */
.postPage{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.post{
  width: 50%;
  background-color: rgba(128, 128, 128, 0.925);
  border-radius: 8px;
  color: white;
  padding: 6px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 8px 3px black;
  background-image: url();
}

.postHead{
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.userData{
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 6px;
}

.userData > h3{
  margin : 0px 8px;
}

.actions{
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

#postTitle{
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
}

#imageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  height: 300px;
  width: 100%;
  outline: 3px groove black;
  background-color: #242424;
}

#postImage{
  width: 90%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.comments{
  background-color: rgba(128, 128, 128, 0.223);
}

.commentContainer{
  outline: 2px inset black; 
  overflow-y: scroll;
  height: 94px;
  margin-bottom: 10px;
  background-color: #242424;
}

#postComment{
  background-color: #242424;
  color: white;
}

#commentInputs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

#commentInputs > textarea{
  width: 80%;
  height: 30px;
  border-radius: 8px;
  margin: 10px;
}

#votes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  width: 100px;
  border-radius: 8px;
  background-color: #d4d4d4;
  outline: 0.5px groove rgb(212, 200, 200);
  color: black;
}

#votes > img{
  height: 25px;
  width: 25px;
}

#votes > hr{
  height: 25px;
}

#upvote{
  transition: background-color 0.5s;
 
}

#downvote{
  transition: background-color 0.5s;
}
#upvote:hover{
  background-color: green;
}

#downvote:hover{
 background-color: red;
}

/* ------------------------------------------------------ */

/* ---------------------------attribution----------------------- */
.attribution-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.attribution-box h1 {
  text-align: center;
  margin-bottom: 20px;
}

.attribution-box a {
  display: block;
  margin: 10px 0;
  color: #0073e6;
  text-decoration: none;
}

.attribution-box a:hover {
  text-decoration: underline;
}
/* ------------------------------------------------------ */


@media (prefers-color-scheme: light) {
  nav {
    background-color: #242424;
    color: #f9f9f9;
  }
  .content-display{
    /* background-color: #f9f9f9; */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoWU8wsrvqHbg-dVQ_tB5fOO_eNloUko9itw&s');
    color: black;
  }
  .createPostPage{
    color: black;
    
  }

  .createPostPage > h1{
    color: #141212;
    background-color: white;
  }

  .createPostPage > form{
    
    background-color: #24242449;
  }

  .post{
    background-color: white;
    color: black;
  }
  
  #votes{
    background-color: none;
    color: black;
  }

  .commentContainer{
    background-color: gray;
  }
  
}
